#root {
  width: 50%;
  margin: 20px auto;
  padding: 40px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 40px;
  box-shadow: 10px 6px 16px rgb(0, 0, 0);
}

#container {
  display: flex;
  flex-direction: column;
  text-align: start;
}

h1 {
  margin-bottom: 6px;
}
