#root {
  width: 40%;
  margin: 20px auto;
}

#container {
  box-shadow: 10px 6px 16px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  text-align: start;
}

#main-title {
  margin: 18px 0px;
}

#main {
  height: 400px;
  /* border: 2px solid red; */
  background: url('./assets/react.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 300px;
  padding: 30px;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.logo {
  width: 30px;
}